body{
    padding: 0px;
    margin: 0px;
}
.header{
    display: flex;
    align-items: center;
    background-color: #ef7c9540;
}
div{
    padding: 20px 119px;
    align-items: center;

}

.header-title{
    font-size: 50px ;
    font-weight: 700;
}
.img{
    width: 635px;
    height: 600px;
}
.btn{
    padding: 10px;
    width: 102px;
    height: 46px;
    background-color: rgba(182, 8, 66, 0.963);
    color: white;
    border-radius: 11px;
   
}
section{
    background-color: aliceblue;
}
section .delivery-section{
    max-width: 1440px;
    max-height: 320px;
   
}
.delivery{
   
    display: flex;
    justify-content: space-around;
    background-color: rgba(237, 230, 216, 0.851);
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 10px;
}
.hot-deal-1 {
    display:flex;
    background-color: #ef7c9540;
    margin-top: 30px;
}

.hot-deal-pic{

width: 200px;
height: 200px;

}
.off{
    color: rgba(182, 8, 66, 0.963);
}
.deal-title{
    font-size: 55px;
    }
    .deal-para{
        margin-left: 30px;
        font-size: smaller;
        align-items: center;
    }
    #sing-up-button{
       padding: 0px;
       margin-left: 320px;
        align-items: center;
        
    }
    .insta-title{
        padding-left:700px ;
       
    }
    .insta-para{
        padding-left:330px;
    }
.insta-pic{
    
    
    display: flex;
    gap: 10px;
    width: 300px;
    height: 300px;
}
.input{
    background: url('../flower-shop-assignment/rectangle.png');
}
